<h1>New Product</h1>

<%= form_with(model: @product, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :store_id, "Store" %><br>
    <%= form.collection_select :store_id, @stores, :id, :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
